body {
    /*-webkit-touch-callout:none;*/
    -webkit-user-select:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:16px;
}
img {
    border:0 none;
    margin:0;
    padding:0;
    transform:scale(1) rotate(0) translate3d(0,0,0);
    -webkit-transform:scale(1) rotate(0) translate3d(0,0,0);
}
p,ul,li {
    margin:0;
    padding:0;
}
a,a:hover,a:visited,a:link,a:active {
    text-decoration:none;
}

.invisible {
    opacity:0;
    filter:alpha(opacity=0);
    position:absolute;
    left:-320px;
    top:-480px;
    z-index:0;
}
.background {
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.7;
    filter:alpha(opacity=70);
}

.wrapper-outer {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position:fixed;
    left:0;
    top:0;
    z-index:1;
}
.wrapper-inner {
    width:100%;
    height:100%;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position:absolute;
    left:0;
    top:0;
}

.share-section {
    z-index:800;
}
.share-section img {
    width:84%;
    position:absolute;
    right:8%;
    top:4%;
}

.qrcode-section {
    z-index:900;
}
.qrcode-section .body {
    width:160px;
    height:200px;
    margin-left:-80px;
    margin-top:-100px;
    padding:10px;
    background-color:white;
    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
}
.qrcode-section .body img {
    width:160px;
}
.qrcode-section .body p {
    width:160px;
    margin:5px 0 0 0;
    padding:0;
    text-align:center;
    font-size:16px;
    line-height:20px;
}
